<div id="footer" class="footer">
    <div class="footer--content">
        <ul class="socialmedia">
            <li><a href="#"><i class="icon icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon icon-whatsapp"></i></a></li>
        </ul>
        <p>
            <a href="https://martagonzalez.dev/">www.martagonzalez.dev</a><br/>
            <a href="https://martagonzalez.dev/">© 2021 Marta González | Desarrollo front-end</a>
        </p>
    </div>
</div>
