<div id="header" class="header">
    <div class="header--content">
        <figure class="brand">
            <img src="assets/images/logo.png" width="180px"/>
        </figure>
        <nav class="mainmenu">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Info</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>
    </div>
</div>
