@charset "UTF-8";

@font-face {
  font-family: "pet-shop-landing";
  src:url("fonts/pet-shop-landing.eot");
  src:url("fonts/pet-shop-landing.eot?#iefix") format("embedded-opentype"),
    url("fonts/pet-shop-landing.woff") format("woff"),
    url("fonts/pet-shop-landing.ttf") format("truetype"),
    url("fonts/pet-shop-landing.svg#pet-shop-landing") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pet-shop-landing" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pet-shop-landing" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-instagram:before {
  content: "\61";
}
.icon-icon-whatsapp:before {
  content: "\62";
}
.icon-icon-twitter:before {
  content: "\63";
}
.icon-icon-facebook:before {
  content: "\64";
}
