<div id="home" class="home">
    <div class="home--content">
        <div>
            <figure>
                <img src="../assets/images/a_woman_with_her_pets.png"/>
            </figure>
        </div>
        <div>
            <h1>Adopt, don't&nbsp;shop</h1>
            <h2>Let's be friends</h2>
            <p>Lorem ipsum dolor sit amettetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <a href="#" class="btn">Adopt now</a>
            <app-footer></app-footer>
        </div>
    </div>
</div>